<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.cryptocurrencytracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogIn"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".SignUp"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".List_Of_Cryptocurrency"
            android:label="@string/title_activity_list__of__cryptocurrency"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".Alerts"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".CryptoCurrencyVisualization"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>

</manifest>